@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Calibri", serif;
}

.wrapper{
  background-color: $header_footer_c;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-gap: 7px;
  grid-template-columns: auto 300px;
  grid-template-rows: 20% auto 15%;
  grid-template-areas:
          "header header"
          "main   aside"
          "footer footer";
}

.fa-bars {
  color: $icon-color_c;
}

.fa-bars:hover {
  color: $icon-color_alt;
}

.fa-star {
  color: #f6ff00;
}

.fa-comments {
  color: #4bfe41;
}