@import "variables";

.footer {
  grid-area: footer;
  background-color: $header_footer_dg;
  padding: 20px;
  color: $header_footer_c;
  i {
    color: $icon-color_c;
  }
  a {
    color: $header_footer_c;
    margin-left: 3px;
  }
}

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
}

.copyrights{
}

.address{
}

.contacts-inline{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  text-align: center;
  div {
    margin-left: 20px;
  }
}
