@import "variables";

.header {
  background-color: $header_footer_dg;
  color: $header_footer_c;
  grid-area: header;
  .header-container {
    margin: auto;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 250px auto 400px;
    grid-template-rows: 20% auto 15%;
    grid-template-areas: "logo . icons" "logo . ." "logo . navig";

    .menu-toggle {
      padding: 10px 10px 0 5px;
      font-size: 24px;
      display: none;
      grid-area: menu-toggle;
      outline: none;
    }

    .logo {
      grid-area: logo;
      max-height: 100px;
      font-family: 'Pacifico', initial, cursive;
      font-size: 60px;
      padding: 10px 10px 20px;
      a {
        text-decoration: none;
        color: $icon-color_c;
      }
    }

    .icons {
      grid-area: icons;
      justify-self: stretch;
      align-items: center;

      padding: 5px;
      font-size: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .search-wrapper {
        a {
          color: $icon-color_c;
          float: left;
          padding-right: 10px;
        }
        .search {
          display: flex;
          border: 1px solid $aside_background;
        }
      }

      .social-icons {
        a {
          color: $icon-color_c;
          text-decoration: none;
          padding: 5px;
        }
        i:hover {
          transform: scale(1.2)
        }
      }
    }

    .menu {
      grid-area: navig;
      font-size: 20px;

      .menu-close {
        display: none;
      }

      ul {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        list-style-type: none;
        li {
          a {
            color: $header_footer_c;
            text-decoration: none;
            &:hover {
              background-color: $aside_background;
              color: $header_footer_dg;
            }
            &:nth-child(4) {
              padding-right: 5px;
            }
          }
        }
      }
    }
  }
}

.fa-times{
  color: $icon-color_c;
}
.fa-times:hover{
  color: $icon-color_alt;
}