h2, p, div {
    letter-spacing: 1px;
}

table th {
    text-align: center;
}

.wrapper {
    background-color: #1e7999;
}

.header-top {
    padding: 50px;
}

.footer-bot {
    display: flex;
    padding: 50px;
    justify-content: center;
    margin: 0 auto;
}

.footer-content {
    display: block;
    font-size: 16px;
    color: #fefefe;
}

.footer-content a {
    color: #4bfe41;
}

.footer-content a:hover {
    color: #fff300;
}

.ui.container {
    display: flex !important;
    justify-content: space-between;
}

/* Resume main region */
.resume-region-wrapper, .add-info-region-wrapper {
    display: flex;
    flex-direction: column;
}

.resume-region-wrapper {
    background-color: #fefefe;
    width: 68%;
    padding: 40px 50px 40px 40px;
}

.resume-title {
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #0d71bb;
    margin-top: 20px;
    margin-bottom: 20px;
}

.resume-line {
    display: flex;
    border-bottom: 1px solid #0d71bb;
    margin-top: 20px;
    margin-bottom: 15px;
}

.resume-title i {
    padding-left: 3px;
    transform: scale(1.4);
}

.contacts-wrapper{

}

.resume-title-text {
    padding: 0 0 10px 10px;
}

.profile-info {
    font-size: 16px;
}

/* Work experience */
/* table*/
tr.spaceUnder>td {
    padding-bottom: 3em;
}

.work-region-wrapper {
    border: none;
}

.work-time {
    white-space: nowrap;
    vertical-align: baseline;
    font-weight: bold;
}

.work-description {
    padding-left: 60px;
}

.work-company-name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.work-position-name {
    font-weight: bold;
    font-size: 18px;
}


/* contacts region*/
.contacts-wrapper {
    display: flex;
    align-items: center;
}

.contacts-inline {
    display: inline-block;
    font-size: 14px;
    padding-left: 15px;
}

/* Additional info region*/
.add-info-region-wrapper {
    width: 32%;
    background-color: rgba(26, 22, 25, 0.83);
    color: #fefefe;
}

.add-info-title {
    padding: 15px 15px;
    background-color: #3a9ecb;
    display: flex;
    color: rgba(26, 22, 25, 0.83);
}

.skills-wrapper{
    padding: 15px 15px 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.skill-name {
    padding: 10px;
}

.add-info-region-wrapper > div > ul > li{
    word-break: break-all;
    display: flex;
    flex-wrap: wrap;
}

.hobbies-wrapper {
    padding: 30px;
    font-size: 16px;
}

/* Language region */
.languages-wrapper {
    color: #fefefe;
    padding: 30px;
    font-size: 16px;
    word-break: break-word;
}

.language-table-text {
    color: #FEFEFE !important;
}

.social-list-wrapper {
    padding: 30px;
    font-size: 16px;
    word-break: break-all;
}

/* Photo */

.cv-photo{
    padding: 55px;
}

.cv-photo img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.cv-photo:hover {
    padding: 0;
    transition: 0.8s ease-out;
}

.cv-photo img:hover {
    width: 100%;
    height: 100%;
}

/* The top text*/

.user-name {
    font-size: 50px;
    align-self: left;
    padding-bottom: 65px;
    font-weight: bold;
    word-break: break-word;
    line-height: 1;
}

.user-job {
    font-size: 24px;
    color: #3a9ecb;
    padding: 75px 0 20px 0;
}

/* icon */
.teal-icon {
    color: #3a9ecb;
}

/* Identificators for skill levels */
.skill-item {
    margin: 20px;
    height: 12px;
}

/* scroll bar*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #fefefe;
    border-radius: 10px;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #fefefe;
}

::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122,153,217)),
    color-stop(0.72, rgb(73,125,189)),
    color-stop(0.86, rgb(28,58,148)));
}
.square {
    height: 50px;
    width: 50px;
    background-color: #555;
}

@media screen and (max-width: 990px){
    .ui.container {
        flex-direction: column-reverse;
    }

    .cv-photo {
        align-self: center;
        padding: 0;
    }

    .cv-photo:hover {
        padding: 0;
        transition: none;
    }

    .add-info-region-wrapper, .resume-region-wrapper {
        align-self: center;
        width: 95%;
    }

    .social-list-wrapper {
        align-self: center;
    }

    .language-table {
        width: 100% !important;
    }

    .language-table-text {
        text-align: center;
    }

    .language-header-text {
        text-align: center;
    }

    .education-table {
        text-align: center !important;
    }
}